@import "tailwindcss";

/* Responsive Font Size Mixin using Tailwind base font size */

  @keyframes scroll {
    0%, 100% {
      transform: none;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  


:root {
  --background: #ffffff;
  --backgroundimage: none;
  --foreground: #010101;
  --font-sans: var(--font-inter);
  --font-body: 1.125rem;
  --maincolor: #B9EE00;
  --animate-scroll: scroll .3s ease infinite;
  --skillcol1: #f0dfcd;
  --bg-color-hsl: 59, 3%, 94%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: #010101;
  --color-text: hsl(192, 14%, 20%);
  --color-text-highlight:#f4ae32;
  --duration: 10s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
  --size: calc(var(--spacing) * 80);

}





@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #161616;
  }
}

body {
  background: var(--background);
  background-image: var(--backgroundimage);
  background-repeat: repeat;
  color: var(--foreground);
  font-family: var(--font-playfair);
  font-size: clamp(0.75rem, 1.125rem, 2rem);
  line-height:  clamp(0.75rem, 1.5rem, 2rem);
}

h1{
  font-size: clamp(0.75rem, 2rem, 3rem);
  line-height: clamp(0.75rem, 3rem, 3rem);
  text-align: left;
}
h2{
  font-size: clamp(0.75rem, 2rem, 3rem);
  line-height: clamp(0.75rem, 3rem, 3rem);
  text-align: left;
  font-family: var(--font-playfair);
}
h3{
  font-family: var(--font-playfair);
  font-size: clamp(0.75rem, 1.5rem, 3rem);
  line-height: clamp(0.75rem, 2rem, 3rem);
}
li,p{
    font-family: var(--font-inter);
    font-weight: 300;
    line-height: 1.5;

 }

em{
   border-left: var(--bg-color-highlight) 1rem solid;
   padding: 3rem;
   display: block;
   font-size: clamp(0.75rem, 3rem, 4rem);
   line-height: clamp(0.75rem, 3rem, 4rem);
   font-weight: 400;
   text-transform: uppercase;
 }
 .cursoranim {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: black;
  z-index: 1009;
  pointer-events: none;
}
progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
  z-index: 1000;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}

.header-sec{
 
    .menu-cont-inner{
      overflow: hidden;
     height:0rem;
     transition:height .5s ease-in-out;
     
    }
}
.header-sec.active{
    .menu-cont-inner{
      height:5rem;
      transition:height .5s ease-in-out;
      
    }
}
.menu-btn{
    span{
       transition: all .2s ease-in;
    }
  }
  .site-logo{
    img{
      transform: scale(1);
    }
  }
.active{
  .site-logo{
    img{
      transform:scale(0.7);
    }
  }
  .cursoranim{ display: none;}
  .menu-btn{
    span{
       transition: all .2s ease-in;
    }
   span:nth-child(3){
      display: none;

    }
    span:first-child{
      transition: all .2s ease-in;
      transform: rotate(45deg);

    }
    span:nth-child(2){
      transition: all .2s ease-in;
      transform: rotate(-45deg);
      margin-top:-2px;
    }
  }

}

.cards-anim{
  text-align: center;
  position: relative;
  width: 100%;

  padding: 3rem 1rem;
  .cards{
    display: block;
    width:80%;
    height:140px;
    
    border: #FC0000 2px solid;
    border-radius: .5rem;
    background-color: #efefef;
    position: absolute;
    scale: 1;
    left:0;
    right:0;
    margin: auto;
  }
}
.anim-cont{
 margin-top: 40px;
 z-index: -10;
}
.anim-cont>div{ height: auto;}

.rating-img{
 position: relative;
}



.logo-cont{ 
  padding-block: 16em;


  
}

.offer-slide-cont{
    position: relative;
   
   
   align-items:center;


    ul{
      width: 100%;

      display: grid;
      grid-template-columns: repeat(12, [first] 12rem);
      grid-template-rows: repeat(1, [row] 12rem);
      justify-items: center;

      /* Enable smooth scrolling */
      transition: transform 0.1s linear;

      li{
        grid-area: auto;
        place-self: center stretch;
        align-self: center;

          img{
           
          width: 100%;
         
          }

       

        

      }

     
    }

}

.who-text{
  ul{
    width: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
    li{
        width: 32%;
         margin-left: 1%;
    }
  }
}

footer { background-color: #ffffff; }
footer span{
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-family: var(--font-inter);
}
.menu span{
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 100;
}

.footer-text p{
  line-height: .7;
 

}
.aboutsection>p{
  font-size: responsive-font-size(3rem);
  line-height: responsive-line-height(3rem);
}

.viewer {
  height: 100%;

}
.scene{ will-change: transform;}
.scene img{ max-width: unset; }
.scroll-btn-cont{
  width: 20px;
}
.scroll-scrub{
  font-size: responsive-font-size(1rem);
  line-height: responsive-line-height(1rem);
}
.scroll-bar{
  background-color: #2A3139;
  width: 5px;
  height: 100px;
  margin-bottom: 80px;
}

.text-highlight {
  all: unset;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
}
.text-highlight.active {
  color: var(--color-text-highlight);
  background-size: 100% 100%;
  background-image: linear-gradient(var(--bg-color-highlight), var(--bg-color-highlight));
  font-weight: 500;
  transition: all calc(var(--duration) / 4) var(--ease);
}

[data-highlight=underline] .text-highlight {
  --line-size: 0.15em;
  background-image: linear-gradient(transparent calc(100% - var(--line-size)), var(--color-text) var(--line-size));
}
.text-highlight::before, .text-highlight::after {
  position: absolute;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-highlight::before {
  content: " [highlight start] ";
}
.text-highlight::after {
  content: " [highlight end] ";
}




.scroll-btn{
  width: 5px;
  height: 14px;
  background-color: var(--maincolor);
  animation: var(--animate-scroll);
}
.swiper{ min-height:70px; }
.testimonials > div{

    padding-left: 3rem;

}

.service-block{

    img{
      max-width: 80px;
    }
  &.active{
    opacity:1;
  }
}

.caption-cont{

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;

  .text {
  font-family: var(--font-playfair);
  font-size: responsive-font-size(1.25rem);
  letter-spacing: -.01em;
  line-height: responsive-line-height(1.25rem, 1.2);
  margin: 0 0 1em 0;
  padding: 1em;
  width: 100%;
  color: rgb(26, 26, 26);
  background: linear-gradient(to right, #f4ae32, #f4ae32) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f4ae32;
  color: #1a1a1a;
  
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
  left:0;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

a {
  text-decoration: none;
  color: inherit;
}
}

.caption-cont-half{
  height: auto;
  justify-content: start;
}

.whyworksec img{ max-width:80px;}
.blog-cont{ display: grid;}
.why-points{
  position: relative;
  background-color: var(--bg-color-highlight);
  color: var(--color-text-highlight);
  
}

.review-card{
  position: relative;
  width:100%;
  height:auto;
  max-width: 300px;
  &::before{
    content:'';
    position: absolute;
    width: 0; 
    height: 0; 
    top: auto;
    bottom:-30px;
    right: 20px;
    border-left: 20px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
  }
}


@media screen and (min-width:991px) {

   .aboutsection p{
     font-size: responsive-font-size(1.75rem);
     line-height: responsive-line-height(1.75rem);
   }
   .skillcont ul li{
     width:40%;
   }
   .service-block{
     p{
       font-size: responsive-font-size(1rem);
       line-height: responsive-line-height(1rem);
     }
     img{
       max-width: 60px;
     }
   }
  .testimonials > div{
    position: relative;
    padding-left: 3rem;
    border-left:#161616 1px solid;

    &:before{
      content:'';
      position: absolute;
      background-color: #161616;
      left: -5px;
      border:#16161654 1px solid;
      height:10px;
      width: 10px;
      border-radius: 50%;
      top: 0;
    }

    &:last-child{
      border: none;
    }

}

}
@media screen and (min-width:1020px) {
    h1,h2{
      font-size: clamp(0.75rem, 2rem, 3rem);
      line-height: clamp(0.75rem, 2rem, 3rem);
    }
}
@media screen and (min-width:1200px) {
    h1,h2{
      font-size: clamp(0.75rem, 2rem, 3rem);
      line-height: clamp(0.75rem, 2rem, 3rem);
    }
}

@media screen and (min-width:1440px) {
    h1,h2{
      font-size: clamp(0.75rem, 3rem, 4rem);
      line-height: clamp(0.75rem, 4rem, 6rem);
    }
}

@media screen and (min-width:1600px) {
    h1,h2{
      font-size: clamp(0.75rem, 3rem, 6rem);
      line-height: clamp(0.75rem, 3rem, 6rem);
    }
}

 .outer,
  .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    will-change: transform;
  }
.portfolio-tile {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
 /*visibility: hidden;*/
  will-change: transform;
  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;

    &::before{
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      background:rgba(0,0,0,0.7);

z-index: 0;
    }

  }
  
}
.bg-thumb{
    background-size: cover;
    background-position: center center;
    position: absolute;
  }
/*
.portfolio-tile {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
 visibility: hidden;
  will-change: transform;

 

  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;

    img{
      top:0;
      
    }

    h2 {
      z-index: 2;
    }

    .clip-text {
      overflow: hidden;
    }
  }
}
*/


@media (max-width: 768px) {
 
}

@media (min-width: 769px) and (max-width: 1024px) {
 
}

@media (min-width: 1025px) {
 
}