@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-inter);

}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #161616;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-josefin);
}

h1 {
  font-family: var(--font-josefin);
}

.first-name,.last-name{ 
  font-family: var(--font-ubuntu-mono);
}
.scroll-section-inner{
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.employmentBlock{

  h2{ font-family: var(--font-playfair);}

}

.experience_slide{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  
}